body{
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "CenturyGothic" sans-serif;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgb(211, 199, 201);
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr{
  margin-bottom: 5px;
  border: 2px solid rgb(10, 36, 76);
}

.flex-container{
  display: flex;
}

.navbar{
  flex: 1;

}

.content{

flex: 7;

  flex: 7;


}

.grid-container{
display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 5%;
}

.grid-container-ikoner{
  display: grid;
  grid-template-columns: 1fr 15fr;
  row-gap: 5%;
  align-items: center;
}

/* Ice overskift */
.serif{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
  }

  .sansserif{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .monospace{
  font-family: "Lucida Console", Courier, monospace;
  font-size: 13px;
  }



.pinkboks{
  width: 70px;
  height: 70px;
  background: #c52c7f;
  border-radius: 10px;
}

.hvidboks{
  width: 70px;
  height: 70px;
  background: #ffffff;
  border: 1px solid black;
<<<<<<< HEAD
  border-radius: 10px;
}

.sortboks{
  width: 70px;
  height: 70px;
  background: #000000;
  margin-top: 5px;
  border-radius: 10px;
}

.morkeblaeboks{
  width: 70px;
  height: 70px;
  background: #10244A;
  margin-top: 5px;
  border-radius: 10px;
}

.kodeskrifth1{
  margin-top: 80px;
=======

}




/*Styling til "Knapper" siden*/
.button1 {
  border-radius: 15px;
  border-color: #C52C7F;
  border-width: 5px;
  font-size: 17px;
  cursor: pointer;
}
