body{
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "CenturyGothic" sans-serif;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgb(211, 199, 201);
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr{
  margin-left: 0%;
  margin-right: 2%;
  margin-bottom: 5px;
  border: 1px solid rgb(10, 36, 76);
}

hr.header{
  border-top: 2px solid rgb(10, 36, 76);
  margin: 0%;
}

.flex-container{
  display: flex;
}

.navbar{
  flex: 1;
}

.content{
  flex: 7;
  flex: 7;
}

.grid-container{
display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 5%;
}

.grid-container1{
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5%;
}

.grid-container-ikoner{
  display: grid;
  grid-template-columns: 1fr 15fr;
  row-gap: 5%;
  align-items: center;
}

/* Overskifter */
.kodeoverskrift1{
  margin-top: 22px;
}

.kodebeskrivelse{
  margin-top: 22px;
}

.kodebroedtekst{
  margin-top: 22px;
}

/* Overskifter slut */
/*Styling til "Knapper" siden*/
.button1 {
  border-radius: 15px;
  border-color: #C52C7F;
  border-width: 5px;
  font-size: 17px;
  cursor: pointer;
}

/*Knapper slut*/
/* Farver */
.pinkboks{
  width: 70px;
  height: 70px;
  background: #c52c7f;
  border-radius: 10px;
}

.hvidboks{
  width: 70px;
  height: 70px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
}

.sortboks{
  width: 70px;
  height: 70px;
  background: #000000;
  margin-top: 5px;
  border-radius: 10px;
}

.morkeblaeboks{
  width: 70px;
  height: 70px;
  background: #10244A;
  margin-top: 5px;
  border-radius: 10px;
}

/* Farver slut */
/* Skrifttyper */
.kodeskrifth1{
  margin-top: 65px;
}

.kodeskrifth2{
  margin-top: 50px;
}

.kodeskrifth3{
  margin-top: 45px;
}

.kodeskrifth4{
  margin-top: 27px;
}

.kodeskriftp{
  margin-top: 23px;
}

.kodeskriftbold{
  margin-top: 22px;
}

.kodeskriftitalic{
  margin-top: 22px;
}

/* Skrifttyper slut */
/* Header */
header{
  background-color: #c52c7f;
  height: 150px;
}

/* Header slut*/
/* Forside */
.grid-containerforside{
  display: grid;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-itemforside{
  background-color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.item1forside{
  padding: 350px;
}

.item2forside{
  padding: 123px;
}

.item3forside{
  padding: 123px;
}

.item4forside{
  padding: 123px;
}

.item5forside{
  padding: 123px;
}

.item1forside{
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2forside{
  grid-column: 1 / span 2;
  grid-row: 2;
}

.item3forside{
  grid-column: 1 / span 2;
  grid-row: 3;
}

.item4forside{
  grid-column: 1 / span 2;
  grid-row: 4;
}

.item5forside{
  grid-column: 1 / span 2;
  grid-row: 5;
}
