body{
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: "CenturyGothic" sans-serif;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgb(211, 199, 201);
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr{
  margin-left: 0%;
  margin-right: 2%;
  margin-bottom: 5px;
  border: 1px solid rgb(10, 36, 76);
}

hr.header{
  border-top: 2px solid rgb(10, 36, 76);
  margin: 0%;
}

.flexbox_header{
  display: flex;
  background-color: #c52c7f;
}

.flex1{
  flex: 1;
}

.flex2{
  flex: 7;
  display: flex;
   justify-content: center;
   margin-right: 100px;
}

.flex-container{
  display: flex;
}

.navbar{
  flex: 1;
}

.content{
  flex: 7;
  flex: 7;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 5%;
}

.grid-container1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5%;
}

.grid-container-ikoner{
  display: grid;
  grid-template-columns: 1fr 15fr;
  row-gap: 5%;
  align-items: center;
}

.grid-container-klippekort{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  align-items: center;
}

.flex-container-klippekort{
  display: flex;
  transform: skewX(-20deg);
}

.flex-container-klippekort > div {
  background-color: #ea595e;
  opacity: 0.4;
  margin: 5px;
  padding: 30px;
  font-size: 30px;
}
/* Klippekort */
.inactive{
  opacity: 0.4;
}

/* Overskifter */
.kodeoverskrift1{
  margin-top: 22px;
}

.kodebeskrivelse{
  margin-top: 22px;
}

.kodebroedtekst{
  margin-top: 22px;
}

/* Overskifter slut */
/*Styling til "Knapper" siden*/
.button1 {
  border-radius: 15px;
  border-color: #C52C7F;
  border-width: 5px;
  font-size: 17px;
  cursor: pointer;
}

/*Knapper slut*/
/* Farver */
.pinkboks{
  width: 70px;
  height: 70px;
  background: #c52c7f;
  border-radius: 10px;
}

.hvidboks{
  width: 70px;
  height: 70px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
}

.sortboks{
  width: 70px;
  height: 70px;
  background: #000000;
  margin-top: 5px;
  border-radius: 10px;
}

.morkeblaeboks{
  width: 70px;
  height: 70px;
  background: #10244A;
  margin-top: 5px;
  border-radius: 10px;
}

/* Farver slut */
/* Skrifttyper */
.kodeskrifth1{
  margin-top: 65px;
}

.kodeskrifth2{
  margin-top: 50px;
}

.kodeskrifth3{
  margin-top: 45px;
}

.kodeskrifth4{
  margin-top: 27px;
}

.kodeskriftp{
  margin-top: 23px;
}

.kodeskriftbold{
  margin-top: 22px;
}

.kodeskriftitalic{
  margin-top: 22px;
}

/* Skrifttyper slut */
.grid-container-striber{

}

/* /Laura skriver her */
.grid-container-striber {
  display: grid;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.grid-itemstrib{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
}

.item1striber {
  grid-column: 1 / span 2;
    grid-row: 1;
}

.item1striber img{

}
.item2striber {
  grid-column: 1;
    grid-row: 2;
}

.item3striber {
  grid-column: 2;
  grid-row: 2;
  display: block;
padding: 4px;
}


.slide{

display: flex;
width: 300px;
height: 400px;
object-fit: cover;
position: relative;
background-position: center;
transition: 0.5s;
}

.slide img{
position: absolute;
animation: slide 20s infinite;
opacity: 0;
width: 300px;
height: 400px;
margin-top: 70px;

margin-right: 50px;


object-fit: cover;
}

@keyframes slide {25%{opacity:1;} 40%{opacity:0;}}
.slide img:nth-child(1){
animation-delay:0s;}
.slide img:nth-child(2){
  animation-delay:5s;}
  .slide img:nth-child(3){
    animation-delay:10s;}
    .slide img:nth-child(4){
      animation-delay:15s;}


.item4striber {
  grid-column: 1 / span 2;
  grid-row: 3;
  margin-top: -70px;
}

.item4striber img{
  width: 900px;
  margin-top: 10px;
}


.item5striber {
  grid-column: 1 / span 2;
   grid-row: 4;
}

.item6striber {
  grid-column: 1 / span 2;
  grid-row: 5;
}
 .item6striber img{
   width: 900px;
   position: absolute;
   height: 400px;
 }


 /* Forside */
 .main-header{
   display: flex;
   justify-content: center;
   background-color: #c52c7f;
   height: 130px;
   padding: 20px;
 }

 .logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding-top: 75px
 }

 h1{
   color: #000000;
 }

 h2{
   color: #000000;
 }

 .hero{
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   font-size: 25px;
   padding: 30px;
 }

 .hero img{
   width: 100%;
   max-width: 100%;
   height: auto;
 }

 .grid-containerforside{
   display: grid;
   grid-template-columns: auto auto auto;
   border: 3px solid #000;
   border-radius: 5px;
   margin: 20px;
 }

 .grid-itemforside{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   background-color: #ffffff;
   border-bottom: 3px solid #000;
   border-top: 3px solid #000;
   font-size: 30px;
 }

 .grid-itemforside img{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

   /* Forside slut */

   /* Refill start */
 .grid-container-refill {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-auto-rows: 1fr;
     align-items: center;

 }
 .grid-item-refill {
   background-color: rgba(255, 255, 255, 0.8);
   padding: 18px;
   font-size: 12px;
   text-align: left;
 }

 .grid-item-refill2 {
   object-fit: cover;
   width: 200px;
   max-height: 200px;
   text-align: center;
 }


 /*Refill slut*/
